@import "compass/css3";
@import "constants";

/* Variables
----------------------------------------------------------------------*/

$container-width: 920px;


/* General styles
----------------------------------------------------------------------*/

.page-olympic-data-vis {
  .row:first-child {
    margin-top: $baseline*2;
    margin-bottom: $baseline*2;

    .columns6 {
      margin-left: 0;
    }

    h2 {
      text-align: center;
      margin-bottom: $baseline;
    }
  }
}

rect {
  fill: none;
}

.tab-content {
  h2 {
    margin-bottom: 15px;
    text-align: center;
  }
}

.cell {
  cursor: pointer;
}

.medals-tree-map {
  position: relative;
  height: $baseline * 26;
  width: $container-width;

  margin: 0 auto 15px;

  .country {
    &.active rect {
      fill: black !important;
    }

    text {
      // display: none;
      fill: white;
      font-weight: bold;

      &.name {

      }
    }
  }

  .medal {
    display: none; // hide by default
    fill: none;

    rect {
      fill: none;
      fill-opacity:0.2;
    }

    text {
      font-size: 2em;
      font-weight: bold;
    }

    &.medal-gold {
      text {
        fill: #FFD500;
      }
    }

    &.medal-silver {
      text {
        fill: #eee;
      }
    }

    &.medal-bronze {
      text {
        fill: #883C0A;
      }
    }
  }
}

.controls {
  margin: 10px 0 0 0;
  list-style: none;

  .year-labels {
    text-align: center;

    a {
      text-decoration: none;
      color: #666666;
      font-size: 22px;
      line-height: 30px;
      margin-right: 5px;

      &.active, &:hover {
        color: #08C;
        font-weight: bold;
      }
    }
  }
}

.no-olympics-msg {
  font-size: 38px;
  line-height: $baseline*2;

  position: absolute;
  top: 100px;
  width: $container-width - 80px;
  text-align: center;
  padding: 0 40px;
  color: white;
}

.loading {
  background: transparent url(/images/ajax-loader.gif) no-repeat center 200px;
}

.info {
  font-size: 12px;
  line-height: $baseline;

  text-align: center;
  font-style: italic;
}