%section.row
  .columns6.error-header
    %h1.size4 You look lost.
  .columns6.error-copy
    %h3.size2 Unfortunately the page you're looking for doesn't exist. Click any of the page titles above to get back on the right path.