#main.container
  .row-fluid
    .span12.tabbable
      %ul.nav.nav-tabs
        %li#nav-summer-olympics.active
          %a{:href => '#summer-olympics', :"data-toggle" => "tab"} Summer Olympics
        %li#nav-winter-olympics
          %a{:href => '#winter-olympics', :"data-toggle" => "tab"} Winter Olympics
      .tab-content
        #summer-olympics.tab-pane.active
          %h2 Comparison of total Summer Olympic medals won
          .medals-tree-map.loading
          %p.data-source
        #winter-olympics.tab-pane
          %h2 Comparison of total Winter Olympic medals won
          .medals-tree-map
          %p.data-source
