#main.container-fluid
  .row-fluid
    .span12.tabbable
      %ul.nav.nav-tabs
        %li#nav-summer-olympics.active
          %a{:href => '#summer-olympics', :"data-toggle" => "tab"} Summer Olympics
        %li#nav-winter-olympics
          %a{:href => '#winter-olympics', :"data-toggle" => "tab"} Winter Olympics
      .tab-content
        #summer-olympics.tab-pane.active
          %h2
            Comparison of total Summer Olympic medals won
          .medals-tree-map.loading
          %p.data-source
        #winter-olympics.tab-pane
          %h2
            Comparison of total Winter Olympic medals won
          .medals-tree-map
          %p.data-source

  %hr/

  .row-fluid
    .span12
      %h1 API usage
      %h2 Medals
      %p
        Url:
        %code http://nolympics.pebblecode.net/api/Medals/
      %h3 Url parameters
      %dl
        %dt
          first
        %dd
          %p The start year of the range to look up. Also determines if it is summer or winter olympics, depending on whether the year is a summer or winter olympics year. If the start year is an invalid olympics year, the results are undefined.
          %p
            :plain
              The first year available for the summer Olympics is <strong>1896</strong>, and for the winter Olympics is <strong>1924</strong>.


        %dt
          last
        %dd
          %p The end year of the range to look up.
