- content_for :js_lib do
  - # Underscore is already included in pebblecode.com
  %script{:src => "/olympic-data-vis/js/lib/backbone-min.js", :type => "text/javascript"}
  %script{:src => "/olympic-data-vis/js/lib/d3.v2.js", :type => "text/javascript"}
  %script{:src => "/olympic-data-vis/js/lib/jquery.qtip.min.js", :type => "text/javascript"}

- content_for :script_js do
  %script{:src => "/olympic-data-vis/js/script.js", :type => "text/javascript"}

- content_for :css do
  %link{:href => "/stylesheets/olympic-data-vis.css", :rel => "stylesheet", :type => "text/css"}/
  %link{:href => "/olympic-data-vis/css/jquery.qtip.css", :rel => "stylesheet", :type => "text/css"}/

%section.row
  .columns6
    - # %ul.nav.nav-tabs
    - #   %li#nav-summer-olympics.active
    - #     %a{:href => '#summer-olympics', :"data-toggle" => "tab"} Summer Olympics
    - #   %li#nav-winter-olympics
    - #     %a{:href => '#winter-olympics', :"data-toggle" => "tab"} Winter Olympics
    - # .tab-content
    - #   #summer-olympics.tab-pane.active
    - #     %h2 Comparison of total Summer Olympic medals won
    - #     .medals-tree-map.loading
    - #   #winter-olympics.tab-pane
    - #     %h2 Comparison of total Winter Olympic medals won
    - #     .medals-tree-map
    #summer-olympics
      %h2.size2 Comparison of total Summer Olympic medals won
      .medals-tree-map.loading.frame
    %p.info
      :plain
        This is a product of an <a href="http://blog.pebblecode.com/post/21838814065/hack-day-live">internal hack day</a> at <a href="http://pebblecode.com">pebble {code}</a>. Data sourced from <a href="http://databaseolympics.com">databaseolympics.com</a>.
