// @import 'reset';
@import 'typography';
@import 'css3';
@import 'jquery.qtip';

/* Variables
----------------------------------------------------------------------*/

/* Colours */


/* Mixins
----------------------------------------------------------------------*/


/* General styles
----------------------------------------------------------------------*/

body {
  padding-top: 60px;
  padding-bottom: 40px;
}

.sidebar-nav {
	padding: 9px 0;
}

.form-input {
	height: 28px;
}

rect {
  fill: none;
}

text {
  font: 10px sans-serif;
}

.medals-tree-map {
  position: relative;
  height: 615px;
  width: 960px;
  .country {
    text {
      // display: none;
      fill: white;
      font-weight: bold;

      &.name {

      }
    }
  }

  .medal {
    display: none; // hide by default
    fill: none;

    rect {
      fill: none;
      fill-opacity:0.2;
    }

    text {
      font-size: 2em;
      font-weight: bold;
    }

    &.medal-gold {
      text {
        fill: #FFD500;
      }
    }

    &.medal-silver {
      text {
        fill: #eee;
      }
    }

    &.medal-bronze {
      text {
        fill: #883C0A;
      }
    }
  }
}

.controls {
  margin-left: 0;
  list-style: none;

  .year-selector {
    list-style: none;
    margin: 20px 0 40px 0;
  }

  .year-label {
    color: black;
    position: absolute;
    left: -7px;
    top: 20px;
    background-color: white;
  }

  .ui-slider-horizontal {
    width: 400px;
  }

  a {
    &.active {
      color: #FF7272;
    }
  }
}

#no-olympics-msg {
  position: absolute;
  top: 10px;
  left: 10px;
}

.loading {
  background: transparent url(/images/ajax-loader.gif) no-repeat center 200px;
}