// @import 'reset';
@import 'typography';
@import 'css3';
@import 'jquery.qtip';

/* Variables
----------------------------------------------------------------------*/

$container-width: 920px;
$baseline : 22px;

/* Colours */


/* Mixins
----------------------------------------------------------------------*/


/* General styles
----------------------------------------------------------------------*/

.size0 {
  font-size: 12px;
  line-height: $baseline;
}

.size1 {
  font-size: 16px;
  line-height: $baseline;
}

.size2 {
  font-size: 38px;
  line-height: $baseline*2;
}

.size3 {
  font-size: 66px;
  line-height: $baseline*3;
}

.size4 {
  font-size: 88px;
  line-height: $baseline*4;
}

.size5 {
  font-size: 110px;
  line-height: $baseline*5;
}

header {
  .container-fluid, .navbar-inner {
    background: #EE5080;
  }
  .navbar-inner {
    @include box-shadow(0, 5px, 0, hsla(0, 0%, 0%, 0.1));
  }
  .navbar {
    .brand {
      display: block;
      text-indent: -9999px;
      background-image: url('/images/logo.png');
      width: 142px;
      height: 23px;
      margin: 5px 0 3px 0;
      padding: 0;
    }
  }
} // header

body {
  padding-top: 60px;
}

.sidebar-nav {
	padding: 9px 0;
}

.form-input {
	height: 28px;
}

rect {
  fill: none;
}

text {
  font: 10px sans-serif;
}

.tab-content {
  h2 {
    margin-bottom: 15px;
    text-align: center;
  }

  .data-source {
    text-align: center;
  }
}

.medals-tree-map {
  position: relative;
  height: 560px;
  width: $container-width;
  border: 1px solid black;

  padding: 10px;
  margin: 0 auto 15px;

  .country {
    &.active rect {
      fill: black !important;
    }

    text {
      // display: none;
      fill: white;
      font-weight: bold;

      &.name {

      }
    }
  }

  .medal {
    display: none; // hide by default
    fill: none;

    rect {
      fill: none;
      fill-opacity:0.2;
    }

    text {
      font-size: 2em;
      font-weight: bold;
    }

    &.medal-gold {
      text {
        fill: #FFD500;
      }
    }

    &.medal-silver {
      text {
        fill: #eee;
      }
    }

    &.medal-bronze {
      text {
        fill: #883C0A;
      }
    }
  }
}

.controls {
  margin-left: 0;
  list-style: none;

  .year-selector {
    list-style: none;
    margin: 20px 0 40px 5px;
  }

  .year-label {
    color: black;
    position: absolute;
    left: -7px;
    top: 20px;
    background-color: white;
  }

  .ui-slider-horizontal {
    width: 400px;
  }

  a {
    &.active {
      color: #FF7272;
    }
  }
}

.no-olympics-msg {
  @extend .size2;
  position: absolute;
  top: 100px;
  width: 100%;
  text-align: center;
}

.loading {
  background: transparent url(/images/ajax-loader.gif) no-repeat center 200px;
}

footer {
  background-color: hsl(0, 0%, 95%);
  overflow: hidden;
  clear: both;
  position: relative;

  width: 100%;
  height: 80px;
  margin-top: 60px;

  ul {
    list-style: none;
    margin: 0;
  }
  a {
    font-weight: bold;
  }
  div{
    width: 100%;
    max-width: $container-width;
    margin: 0 auto;

    #contact{
      margin-top: 16px;
      margin-left: 12px;
      float: left;

      .address{
        a{
          margin-left: 14px;
        }
      }

      li.size0{
        color: hsl(0, 0%, 70%);
        margin-bottom: -6px;

        a{
          color: hsl(0, 0%, 50%);

          &:hover{
            color: hsl(0, 0%, 40%);
          }
        }
      }
    }

    #social{
      float: right;
      margin-right: 12px;

      li{
        float: left;

        a{
          display: block;
          height: 20px;
          width: 20px;
          text-indent: 99999px;
          margin: 32px 0 0 5px;
          background-image: url('/images/social.png');
          background-color: hsl(0, 0%, 85%);

          &:hover{
            background-color: hsl(0, 0%, 75%);
          }
        }

        #facebook{
          background-position: 40px 0;
        }

        #github{
          background-position: 60px 0;
        }

        #google-plus{
          background-position: 20px 0;
        }
      }
    }
  }
} // footer